// Global page right-left margin
$page-margin: 8%;

// Colors palette
$white: #fff;
$light-grey: #ebebeb;
$orange: #ffad1d;
$blue: #1cbbb4;
$grey-card: #464646;
$orange-alpha: rgba(
  $color: #ffad1d,
  $alpha: 0.8,
);
$blue-alpha: rgba(
  $color: #1cbbb4,
  $alpha: 0.8,
);

$font-sizes: (
  "xs": 0.75rem,
  "sm": 1.2rem,
  "md": 1.6rem,
  "lg": 2.4rem,
  "xl": 3.2rem,
);

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
);
