.votes {
  margin-bottom: 64px;
  h2 {
    margin: 24px $page-margin;
    font-weight: lighter;
    text-align: start;
    @include font-format("3xl");
  }
  .section-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    @include respond-to("small") {
      margin: 0 $page-margin / 1.6;
    }
  }
}
