button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  &.orange {
    background-color: $orange;
  }
  &.orange-alpha {
    background-color: $orange-alpha;
  }
  &.blue {
    background-color: $blue;
  }
  &.blue-alpha {
    background-color: $blue-alpha;
  }
}
