.header-voting-card {
  width: 100%;
  color: $white;
  .content {
    padding: 24px 48px 0 24px;
    background-color: rgba($color: $grey-card, $alpha: 0.527);
    h5,
    p {
      font-weight: 200;
      color: $light-grey;
    }
    h5 {
      font-size: small;
    }
    h2 {
      font-size: 42px;
      font-weight: normal;
    }
    .more-info {
      display: flex;
      align-items: center;
      font-size: x-small;
      text-decoration: underline;
      font-weight: lighter;
      span {
        padding-top: 4px;
        padding-right: 2px;
        font-size: 14px;
      }
    }
    p {
      font-size: medium;
    }
    h3 {
      font-size: small;
      padding: 24px 0;
    }
  }
  .thumb-btns {
    display: flex;
    button {
      padding: 14px 0;
      font-size: 28px;
    }
  }
  @include respond-to("small") {
    margin-left: $page-margin;
    width: 360px;
    margin-bottom: 10px;
  }
  @include respond-to("medium") {
    margin-bottom: 26px;
  }
  @include respond-to("large") {
    margin-top: 8%;
    margin-bottom: 8%;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .header-voting-card > .content {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    background-color: rgba($color: $grey-card, $alpha: 0.5);
  }
}
