.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 32px $page-margin;
  margin-bottom: 36px;
  color: $white;
  background: linear-gradient(to bottom, rgba(80, 80, 80, 1), rgba(0, 0, 0, 0));
  h1 {
    flex: 4;
    font-weight: normal;
    font-size: x-large;
  }
  .navigation {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: small;
    .icon-search {
      display: inline-block;
      font-size: medium;
      padding-top: 4px;
    }
  }
}
