.radio-button {
  opacity: 0;
  position: absolute;
}

.radio-button-label:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.radio-button,
.radio-button-label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}

.radio-button + .radio-button-label:before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 24px;
  height: 24px;
}

.thumb-up:before {
  content: "\0045";
  background: $blue;
  border: 1px solid $blue;
  @include font-format("sm");
}

.thumb-down:before {
  content: "\0046";
  background: $orange;
  border: 1px solid $orange;
  @include font-format("sm");
}

.radio-button:checked + .radio-button-label:before {
  border: 1px solid $white;
}
